.admin {
    color: black;
    margin: 15px;
    min-height: 180px;
    max-height: 180px;
}

a {
    text-align: center;
}

a:hover {
    text-decoration: none;
}

.datums {
    margin-bottom: 10px;
}
