html {
    position: relative;
    min-height: 100%;
}

#navbar{
    text-align: center;
}
a.inlogKnop{
    text-decoration: none;
    color: white;
    padding: 5px 20px 5px 20px;
    border: 1px solid #009cab;
    border-radius: 5px;
    position: absolute;
    right: 50px;
    bottom: 25%;
    transition: 0.5s;
}
a.inlogKnop:hover{
    background-color: #009cab;
    transition: 0.5s;
}

.faqHelp{
    text-decoration: none;
    color: white;
    padding: 5px 20px 5px 20px;
    border: 1px solid #009cab;
    border-radius: 5px;
    right: 50px;
    bottom: 25%;
    transition: 0.5s;
    background-color: #575757;
}

a.menuKnop{
    text-decoration: none;
    color: white;
    padding: 5px 20px 5px 20px;
    border: 1px solid #009cab;
    border-radius: 5px;
    right: 100px;
    bottom: 25%;
    transition: 0.5s;
}
#inhoud{
    margin-bottom: 50px;
    font-size: 14px;
}
.homepageImage{
    width: 500px;
    margin-top: 50px;
}

body > .container {
  padding: 100px 15px 10px;
  margin-bottom: 50px;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.teamNr{
    margin: 0 5px;
} 
span{
    margin-right: 200px;
}

input, textarea {
    margin: 0 0px 20px 0;
}

button.navbar-toggler {
    width: 55px;
}

.terugKnop {
    background-color: grey;
    border: 1px solid #009cab;
    border-radius: 5px;
    transition: 1s;
}
.terugKnop:hover{
    background-color: #009cab;
    color: white;
    border: 1px solid #009cab;
    border-radius: 5px;
    transition: 1s;
}

.inloggenKnop{
    background-color: grey;
    border: 1px solid #009cab;
    border-radius: 5px;
    transition: 1s;
}
.inloggenKnop:hover{
    background-color: #009cab;
    color: white;
    border: 1px solid #009cab;
    border-radius: 5px;
    transition: 1s;
}
.welkomstekst{
    width: 20px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    line-height: 60px;
    background-color: #009cab;
}

@media only screen and (max-width: 991px) {
    footer{
        position: static;
        text-align: center;
        margin-top: 50px;
    }
    .center{
        margin: auto;
    }
}